@charset "utp-8";

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

header {
    width: 100%;
    height: 100px;
}

.header_wrap h1 {
    margin: 5px;
    margin-left: 55px;
}

header .header_inner {
    width: 100%;
    height: 200px;
}

.header_inner .utill {
    float: right;
    /* margin-top: -130px; */
}

.header_inner .utill li {
    float: left;
    margin-left: 30px;
}

.header_inner .gnb {
    float: left;
}

.header_inner .gnb li {
    float: left;
    margin-left: 20px;
}

.gnb .gnb1 {
    font-weight: bold;
}
main {
    width: 100%;
}

main .banner img {
    width: 100%;
    height: 450px;
}

/* main .banner {
    width: 100%;
    height: 400px;
    border: 1px solid #222;
} */



/* Just Dropped */
.product_title {
    width: 100%;
}

.product_gnb ul li {
    float: left;
    width: 25%;
    height: 300px;
}


/* Brand Focus */

.brand_gnb ul li {
    float: left;
    width: 20%;
    height: 100px;
}

/* Most Popular */

.most_gnb ul li {
    float: left;
    width: 25%;
    height: 300px;
}

/* 스타일픽 */

/* New In */
.new_gnb ul li {
    float: left;
    width: 25%;
    height: 300px;
}



/* spring_gnb */

#gnb5 ul li {
    float: left;
    width: 25%;
    height: 500px;
}


img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#just div h4 {
    font-size: 12px;
}
#just div p {
    font-size: 12px;
}

/* section .product_title {
    width: 25%;
} */

/* brand_gnb */
.brand_gnb img {
    width: 250px;
    height: 100px;
    text-align: center;
}

.brand_gnb li {
    margin-bottom: 60px;
}

.brand_gnb {
    height: 300px;
}

.brand_gnb p {
    text-align: center;
    width: 261px;
    line-height: 0;
}